.first-heading {
  background-color: tomato;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -2px;
}

#date_section {
  margin-left: 64px;
  margin-top: -35px;

}

#_1st-btn, #_3rd-btn {
  margin-left: 30px;
}

#_1st-btn:hover {
  background-color: blue;
}

._1st-btn, ._2nd-btn, ._3rd-btn, ._4th-btn {
  background-color: white;
  margin-top: 40px;
  margin-left: 13px;
  margin-bottom: 30px;
  height: 85px;
  width: 106px;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
}

.table_data {
  margin: 0 auto;
  background-color: #c6c2c2;
  border: 1px black solid;
  padding-right: 10px;
  text-align: left;
}

.table_header {
  background-color: #a6a6a6;
  border: 1px black solid;
}

.row_1, .row_2, .row_3 {
  width: 90px;
  height: 40px;
  text-align: left;
}
