body {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #1e1e20;
  margin-top: 0px;
  font-size: 40px;
  color: aliceblue;
}

label {
  padding-top: 5px;
  color: black;
}

.cal_div {
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 110px;
}

.cal_div_button {
  text-align: center;
  padding-top: 48px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 61px;
  border: 2px solid black;
  box-shadow: 0px 2px 28px 4px;
  border-radius: 130px;
  background-color: #1c1b1a;
}


/* -- FIRST DISPLAY -- */
.cal_div_screen {
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 45px;
  background-color: #fff;
}

/* -- FIRST-DISPLAY PARA -- */
.cal_div_screen_pressure_para {
  padding-top: 3px;
  border: 2px dotted #65656a;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #6c6767;
  color: whitesmoke;
  box-shadow: 1px 1px 21px 1px;
}

/* -- SECOND DISPLAY  -- */
.cal_div_screen {
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 45px;
  background-color: #6c6767;
}



/* -- RESULTS K -- */
.cal_div_screen_answer {
  padding-top: 3px;
  border: 2px dotted #65656a;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 39px;
  background-color: #6c6767;
  color: whitesmoke;

}

/* -- RESULT PARA -- */
.cal_div_screen_const_para {
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px dotted #65656a;
  border-radius: 45px;
  text-align: center;
  color: whitesmoke;
  background-color: #6c6767;
  box-shadow: 1px 1px 21px 1px;
  margin-top: 6px;

}

/* -- FIRST DISPLAY PARA -- */
.cal_div_screen_volume_para {
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px dotted #65656a;
  border-radius: 45px;
  text-align: center;
  color: whitesmoke;
  background-color: #6c6767;
  box-shadow: 1px 1px 21px 1px;
  margin-top: 6px;
}


/* THIRD DISPLAY */
.cal_div_screen3 {
  border: 2px dotted black;
  margin-bottom: 20px;
  border-radius: 7px;
}

.seven-btn, .eight-btn, .nine-btn, .division-btn, .cancel-btn
, .four-btn, .five-btn, .six-btn, .multiplication-btn, .square_root_btn
, .one-btn, .two-btn, .three-btn, .substract-btn, .square-btn, .dot-btn
, .zero-btn, .addition-btn
 {
  text-align: center;
  height: 28px;
  width: 59px;
  font-weight: bold;
}

#zero-btn {
  width: 123px;
}

#six-btn {
  width: 125px;
}

#three-btn {
  width: 125px;
}

.equal_to_btn {
  text-align: center;
  height: 28px;
  width: 125px;
  font-weight: bold;
}
